<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap">
        <h3 class="ml-4">
          Registro de Empleados
        </h3>
        <div class="mt-2 mr-2">
          <a 
            pButton 
            pRipple
            label="Crear Empleado" 
            icon="pi pi-plus"
            class="bg-cyan-600"
            [routerLink]="['/empleados/nuevo']">
          </a>
        </div>
      </div>
    </ng-template>
    <p>
      <p-table [value]="empleados">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th class="flex justify-content-center flex-wrap">Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empleado>
          <tr>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.cargo }}</td>
            <td>{{ empleado.departamento }}</td>
            <td>
              <a 
                pButton 
                pRipple
                icon="pi pi-sync"
                severity="warning"
                class="mr-1"
                [routerLink]="['/empleados/actualizar', empleado.id]">
              </a>
              <button 
                pButton 
                pRipple
                severity="danger"
                icon="pi pi-trash"
                class="mr-1"
                (click)="eliminar(empleado.id)">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </p-card>
  